<!DOCTYPE html>
<html>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
		<a class="navbar-brand" href="#">Food delivery shop</a>
	  </nav>
<head>
	<!-- Page Title -->
	<title>CS2102 Modifying Database</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />

	<!-- CSS for Styling -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<!-- JavaScript for Interactivity -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>

	<!-- ADDED JavaScript -->
	<script src="javascripts/checkoutScript.js"></script>
</head>

<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
		<a class="navbar-brand" href="/">Food delivery shop</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
		  <ul class="navbar-nav mr-auto">
			
		  </ul>
		  </ul>
		  <a class= "btn btn-outline-primary" href="customerProfile" style="margin-right:20px;">Customer profile <span class="sr-only">(current)</span></a>
		  <form class="form-inline mt-2 mt-md-0" form method="post" action="customerProfile">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
		  </form>
		</div>
	  </nav>
	<h1 class="display-4 font-weight-normal"><%= title%></h1>
	<h2>Your food list:</h2>
	<table class="table table-striped table-sm" >
		<thead>
			<tr>
				<th scope="col">Food name</th>
				<th scope="col">Category</th>
				<th scope="col">Restaurant name</th>
				<th scope="col">Price</th>
			</tr>
		</thead>
		<tbody>
			<% for(var i=0; i<ownfoodlist.length; i++) { %>
			<tr>
				<td><%= ownfoodlist[i].fname%></td>
				<td><%= ownfoodlist[i].category_meaning%></td>
				<td><%= ownfoodlist[i].rname%></td>
				<td><%= ownfoodlist[i].price%></td>
			</tr>
			<% } %>
		</tbody>
	</table>
	<a href="/orderFood" class="btn btn-lg btn-outline-success my-2 my-sm-0">Go back</a>
	<h3>Food Price: <%= ownfoodlist[0].total_cost%></h3>
	<h2>Checkout information</h2>
	<form id="html_form" action="checkout" role="form" method="post">

		<div class="form-group">
			<label for="Payment">Choose payment method:</label>
			<select id="payment"  class="custom-select d-block w-100" value="Cash" name="payment">
				<option value="Cash">Cash</option>
				<option value="Credit Card">Credit Card</option>
			</select>
		</div>

		<div class="form-group">
			<label for="delivery">Delivery location</label>
			<input type="text" class="form-control" id="delivery" name="delivery" aria-describedby="delivery">
		</div>

		<div class="form-group">
			<label for="delivery2">Choose past location:</label>
			<select id="delivery2" class="custom-select d-block w-100" onchange="myFunction()">
				<option value="<%= ownfoodlist[0].firstloc%>"><%= ownfoodlist[0].firstloc%></option>
				<option value="<%= ownfoodlist[0].secondloc%>"><%= ownfoodlist[0].secondloc%></option>
				<option value="<%= ownfoodlist[0].thirdloc%>"><%= ownfoodlist[0].thirdloc%></option>
				<option value="<%= ownfoodlist[0].fourthloc%>"><%= ownfoodlist[0].fourthloc%></option>
				<option value="<%= ownfoodlist[0].fifthloc%>"><%= ownfoodlist[0].fifthloc%></option>
			</select>
		</div>
		<h2>Reward points: <div> <%= rewardpts  %> </div></h2>
		<h2>Restuarant Promo: <div>  <%= resdiscount  %>%</div></h2>
		<h2>Delivery Promo: <div> <%= delpiddiscount  %>% </div></h2>
		<h2>Delivery Fee: <div>$<%= deliveryfee %></div></h2>
		<h2>Final cost:<div>$<%= finalprice %></div>
		</h2>
		<input type="hidden" id="deliveryfeething" name="deliveryfeething" value = <%= deliveryfee %> >
		<input type="hidden" id="rewardptsused" name="rewardptsused" value= <%= rewardpts  %> >
		<input type="hidden" id="resdiscount" name="resdiscount" value= <%= resdiscount  %> >
		<input type="hidden" id="promoid" name="promoid" value= <%= ownfoodlist[0].promoid%> >
		<input type="hidden" id="originalcost" name="originalcost" value= <%= ownfoodlist[0].total_cost%> >
		<input type="hidden" id="rnamething" name="rnamething" value= <%= ownfoodlist[0].rname%> >
		<input type="hidden" id="finalprice" name="finalprice" value= <%= finalprice %> >
		<input type="hidden" id="delpid" name="delpid" value= <%= delpid %> >
		<input type="hidden" id="delpiddiscount" name="delpiddiscount" value= <%= delpiddiscount %> >
		<button type="submit" class="btn btn-lg btn-block btn-outline-primary">Submit</button> 
	</form>


	<script>
		(function () {
			window.addEventListener('load', function () {
				var forms = [document.getElementById('html_form')];
				var validation = Array.prototype.filter.call(forms, function (form) {
					form.addEventListener('submit', check, false);
				});
			}, false);
		})();
		function myFunction() {
			var x = document.getElementById("delivery2").value;
			document.getElementById("delivery").value = x;
		}
	</script>
</body>

</html>