<!DOCTYPE html>
<html>

<head>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
		<a class="navbar-brand" href="#">CS2102 Food delivery service</a>
	  </nav>
	<!-- Page Title -->
	<title>CS2102 Starter Guide</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />

	<!-- CSS for Styling -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
		crossorigin="anonymous">

	<!-- JavaScript for Interactivity -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>
</head>

<% if (value == 1) { %>
	<script>
		alert("Password changed successfully");
	</script>
	<% } %>	

<body>
	<h1>Welcome, our valued customer</h1>
	<p>Thank you for your support</p>
	<p><a href="/orderFood">Click here to order</a></p>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Customer Id</th>
				<th scope="col">Reward Points</th>
				<th scope="col">Credit card number</th>
			</tr>
		</thead>
		<tbody>
			<% for(var i=0; i<customerPersonalData.length; i++) { %>
			<tr>
				<td><%= customerPersonalData[i].cid%></td>
				<td><%= customerPersonalData[i].reward_pts%></td>
				<td><%= customerPersonalData[i].cc_no%></td>
			</tr>
			<% } %>
		</tbody>
	</table>
	<p>Your past orders</p>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Order number</th>
				<th scope="col">List of food purchased</th>
				<th scope="col">Total cost</th>
				<th scope="col">From</th>
				<th scope="col">Date</th>
				<th scope="col">Review your order</th>
				<th scope="col">Your review</th>
				<th scope="col">Rate your order</th>
				<th scope="col">Your rating</th>
			</tr>
		</thead>
		<tbody>
			<% for(var i=0; i<customerOrderData.length; i++) { %>
			<tr>
				<td><%= customerOrderData[i].flid%></td>
				<td>					
					<form method="POST" action="foodList" name="foodList">
						<input type="hidden" name="flid" value="<%= customerOrderData[i].flid%>" />
						<button type="submit" class="btn btn-primary">Click to view food items</button>
					</form>
				</td>
				<td><%= customerOrderData[i].total_cost%></td>
				<td><%= customerOrderData[i].restaurant_name%></td>
				<td><%= customerOrderData[i].order_time%></td>
				<td>					
					<form method="POST" action="reviewFoodList" name="reviewFoodList">
						<input type="hidden" name="reviewFlid" value="<%= customerOrderData[i].flid%>" />
						<input type="hidden" name="entering" value="true" />
						<button type="submit" class="btn btn-primary">Click to review your order</button>
					</form>
				</td>
				<td><%= customerOrderData[i].review%></td>
				<td>					
					<form method="POST" action="rateFoodList" name="rateFoodList">
						<div class="form-group" div id="group2">
							<label for="1">1</label>
							<input type="radio" value="1" name="group2" checked="checked">
							<label for="2">2</label>
							<input type="radio" value="2" name="group2">
							<label for="3">3</label>
							<input type="radio" value="3" name="group2">
							<label for="4">4</label>
							<input type="radio" value="4" name="group2">
							<label for="5">5</label>
							<input type="radio" value="5" name="group2">
							<label for="6">6</label>
							<input type="radio" value="6" name="group2">
							<label for="7">7</label>
							<input type="radio" value="7" name="group2">
							<label for="8">8</label>
							<input type="radio" value="8" name="group2">
							<label for="9">9</label>
							<input type="radio" value="9" name="group2">
							<label for="10">10</label>
							<input type="radio" value="10" name="group2">
						</div>
						<input type="hidden" name="rateDid" value="<%= customerOrderData[i].did%>" />
						<button type="submit" class="btn btn-primary">Rate!</button>
					</form>
				</td>
				<td><%= customerOrderData[i].rating%></td>
			</tr>
			<% } %>
		</tbody>
	</table>
	<p><a href="/customerEditPassword">Click here to change your password</a></p>
	<form method="post" action="customerProfile">
		<button type="submit" class="btn-link">Click to log out</button>
	    </form>
</body>

</html>