<!DOCTYPE html>
<html>

<head>
	<!-- Page Title -->
	<title>CS2102 Starter Guide</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />

	<!-- CSS for Styling -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
		crossorigin="anonymous">

	<!-- JavaScript for Interactivity -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>
</head>

<% if (sess.changepwsuccess == 1) { %>
	<script>
		alert("Password changed successfully");
		sess.changepwsuccess = 0;
	</script>
	<% } %>	

<body>
	<h1>Welcome, our valued customer</h1>
	<p>Thank you for your support</p>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Customer Id</th>
				<th scope="col">Reward Points</th>
				<th scope="col">Credit card number</th>
			</tr>
		</thead>
		<tbody>
			<% for(var i=0; i<customerPersonalData.length; i++) { %>
			<tr>
				<td><%= customerPersonalData[i].cid%></td>
				<td><%= customerPersonalData[i].reward_pts%></td>
				<td><%= customerPersonalData[i].cc_no%></td>
			</tr>
			<% } %>
		</tbody>
	</table>
	<p>Your past orders</p>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Food Item Name</th>
				<th scope="col">Quantity</th>
				<th scope="col">Price(each item)</th>
				<th scope="col">From</th>
				<th scope="col">Date</th>
			</tr>
		</thead>
		<tbody>
			<% for(var i=0; i<customerOrderData.length; i++) { %>
			<tr>
				<td><%= customerOrderData[i].fname%></td>
				<td><%= customerOrderData[i].count%></td>
				<td><%= customerOrderData[i].price%></td>
				<td><%= customerOrderData[i].rname%></td>
				<td><%= customerOrderData[i].order_time%></td>
			</tr>
			<% } %>
		</tbody>
	</table>
	<p><a href="/customerEditPassword">Click here to change your password</a></p>
	<form method="post" action="customerProfile">
		<button type="submit" class="btn-link">Click to log out</button>
	    </form>
</body>

</html>