<!DOCTYPE html>
<html>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
		<a class="navbar-brand" href="#">CS2102 Food delivery service</a>
	  </nav>
  <head>
		<!-- Page Title -->
    <title>CS2102 Database Connect</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>List of food items purchased</h1>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Food Item</th>
					<th scope="col">Quantity</th>
					<th scope="col">Price(each)</th>
					<th scope="col">From</th>
					<th scope="col">Delivery location</th>
					<th scope="col">Time delivered</th>
					<th scope="col">Delivery Id</th>
					<th scope="col">Delivered by</th>
				</tr>
			</thead>
			<tbody>//at least the delivery location, the time delivery man reached, the did value and the rider name
				<% for(var i=0; i<foodListData.length; i++) { %>
				<tr>
					<td><%= foodListData[i].fname%></td>
					<td><%= foodListData[i].count%></td>
					<td><%= foodListData[i].price%></td>
					<td><%= foodListData[i].rname%></td>
					<td><%= foodListData[i].delivery_location%></td>
					<td><%= foodListData[i].riderdeliverorder%></td>
					<td><%= foodListData[i].did%></td>
					<td><%= foodListData[i].ridername%></td>
				</tr>
				<% } %>
			</tbody>
		</table>
		<p><a href="/customerProfile">Click here to go back</a></p>
  </body>
</html>
