<!DOCTYPE html>
<html>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/">CS2102 Food delivery service</a>
</nav>
<head>
    <!-- Page Title -->
    <title>Location statistics</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <!-- CSS for Styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

</head>

<body>
<h1>Location Statistics on <%=date %></h1>
<p><a href="/locationStatistics">Click here to move back</a></p>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Location name</th>
        <th scope="col">Number of orders placed on this location</th>
        <th scope="col">Total cost of orders</th>
        <th scope="col">Maximal cost of an order</th>
    </tr>
    </thead>
    <tbody>
        <td><%= locationdata2[0].delivery_location%></td>
        <td><%= locationdata2[0].order%></td>
        <td><%= locationdata2[0].cost%></td>
        <td><%= locationdata2[0].max%></td>
    </tbody>
</table>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Order id</th>
        <th scope="col">Order time</th>
        <th scope="col">Restaurant name</th>
        <th scope="col">Order cost</th>
        <th scope="col">Delivery fee</th>
        <th scope="col">Payment method</th>
        <th scope="col">Customer rating for delivery</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i = 0; i < locationdata.length; i++) { %>
        <tr>
            <td><%= locationdata[i].flid%></td>
            <td><%= locationdata[i].time%></td>
            <td><%= locationdata[i].restaurant_name%></td>
            <td><%= locationdata[i].total_cost%></td>
            <td><%= locationdata[i].deliveryfee%></td>
            <td><%= locationdata[i].payment_method%></td>
            <td><%= locationdata[i].ratingtext%></td>
        </tr>
    <% } %>
    </tbody>
</table>


</body>

</html>
