<!DOCTYPE html>
<html>

<head>
    <!-- Page Title -->
    <title>Order statistics</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <!-- CSS for Styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

</head>

<body>
<h1>Order Statistics</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">total number of orders</th>
        <th scope="col">total cost of orders</th>
        <th scope="col">maximal cost of orders</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i = 0; i < orderdata.length; i++) { %>
        <tr>
            <td><%= orderdata[i].num%></td>
            <td><%= orderdata[i].cost%></td>
            <td><%= orderdata[i].maxcost%></td>
        </tr>
    <% } %>
    </tbody>
<!--<table class="table">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th scope="col">Order id</th>-->
<!--        <th scope="col">Customer username</th>-->
<!--        <th scope="col">Rider name</th>-->
<!--        <th scope="col">Promotion id</th>-->
<!--        <th scope="col">Order time</th>-->
<!--        <th scope="col">Restaurant name</th>-->
<!--        <th scope="col">Delivery location</th>-->
<!--        <th scope="col">Total cost</th>-->
<!--        <th scope="col">Payment method</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <% for(var i = 0; i < orderdata.length; i++) { %>-->
<!--        <tr>-->
<!--            <td><%= orderdata[i].flid%></td>-->
<!--            <td><%= orderdata[i].username%></td>-->
<!--            <td><%= orderdata[i].ridername%></td>-->
<!--            <td><%= orderdata[i].promoid%></td>-->
<!--            <td><%= orderdata[i].order_time%></td>-->
<!--            <td><%= orderdata[i].restaurant_name%></td>-->
<!--            <td><%= orderdata[i].delivery_location%></td>-->
<!--            <td><%= orderdata[i].total_cost%></td>-->
<!--            <td><%= orderdata[i].payment_method%></td>-->
<!--        </tr>-->
<!--    <% } %>-->
<!--    </tbody>-->
</table>
<p><a href="/orderStatistics">Click here to move back</a></p>

</body>

</html>
