<!DOCTYPE html>
<html>

<head>
	<!-- Page Title -->
	<title>CS2102 Database Connect</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />

	<!-- CSS for Styling -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<!-- JavaScript for Interactivity -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>
</head>

<body>
	 <% if (error != null) { %> 
		<script>
		alert(`<%= error  %>`)
	</script>
  
  <% } %>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
		<a class="navbar-brand" href="/">CS2102 Food delivery service</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
		  <ul class="navbar-nav mr-auto">
			
		  </ul>
		  </ul>
		  <a class= "btn btn-outline-primary" href="customerProfile" style="margin-right:20px;">Customer profile <span class="sr-only">(current)</span></a>
		  <form class="form-inline mt-2 mt-md-0" form method="post" action="customerProfile">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
		  </form>
		</div>
	  </nav>
	<h1>CS2102: <%= title%></h1>

	<% if (flidPresent != false && ownfoodlist.length > 0) { %>
	<h2>Your food list:</h2>
	<table class="table table-striped table-sm">
		<thead>
			<tr>
				<th scope="col">Food name</th>
				<th scope="col">Category</th>
				<th scope="col">Restaurant name</th>
				<th scope="col">Price</th>
				<th scope="col">Delete</th>
			</tr>
		</thead>
		<tbody>
			<% for(var i=0; i<ownfoodlist.length; i++) { %>
			<tr>
				<td><%= ownfoodlist[i].fname%></td>
				<td><%= ownfoodlist[i].category_meaning%></td>
				<td><%= ownfoodlist[i].rname%></td>
				<td><%= ownfoodlist[i].price%></td>
				<td>
					<form method="POST" action="orderFood" name="deleteFood">
						<input type="hidden" name="fname" value="<%= ownfoodlist[i].fname%>" />
						<input type="hidden" name="rname" value="<%= ownfoodlist[i].rname%>" />
						<input type="hidden" name="action" value="Delete" />
						<button type="submit" class="btn btn-sm btn-outline-secondary" >Delete</button>
					</form>



				</td>
			</tr>
			<% } %>
		</tbody>
	</table>
	<h3>Total cost: <%= totalcost %></h3>
	<% if (canbuy == true) { %>
	<form method="POST" action="orderFood" name="checkoutFood">
		<% if (ownfoodlist[0].reward_pts > 0) { %>
			Choose number of reward points: 
		<input type="range" name="rewardnumbertobuy" id="rewardnumbertobuy" value="0" min="0"
			max="<%= ownfoodlist[0].reward_pts%>" oninput="rewardId.value = 	rewardnumbertobuy.value">
		<output name="rewardId" id="rewardId" for="rewardnumbertobuy">0</output>
		<script>
			document.registrationForm.rewardnumbertobuy.oninput = function () {
				document.checkoutFood.rewardId.value = document.Foodlist.numbertobuy.value;
			}
		</script>
		<% } else { %>
		<input type="hidden" name="rewardnumbertobuy" value=0 />
		<% } %>
		<p></p>
		<input type="hidden" name="action" value="Checkout" />
		<button type="submit" class="btn btn-outline-success my-2 my-sm-0">Checkout</button>
	</form>
	<% }  else {%>
		<p></p>
		<h2>Minimum order to buy is $<%= minimalcost1%></h2>
		<p></p>
		<% } %>
	<% } %>

	<h2>Food available today:</h2>


	<script>
		function myFunction() {

			// Declare variables 
			var input = document.getElementById("Findfood");
			var filter = input.value.toUpperCase();
			var table = document.getElementById("foodlistthing");
			var trs = table.tBodies[0].getElementsByTagName("tr");

			// Loop through first tbody's rows
			for (var i = 0; i < trs.length; i++) {

				// define the row's cells
				var tds = trs[i].getElementsByTagName("td");

				// hide the row
				trs[i].style.display = "none";

				// loop through row cells
				for (var i2 = 0; i2 < 3; i2++) {

					// if there's a match
					if (tds[i2].innerHTML.toUpperCase().indexOf(filter) > -1) {

						// show the row
						trs[i].style.display = "";

						// skip to the next row
						continue;

					}
				}
			}

		}

	</script>

	<input id="Findfood" type="text" class="form-control form-control-dark w-100" onkeyup="myFunction()" placeholder="Search by food, category or restaurant name" />
	<p></p>
	<p></p>
	<table id="foodlistthing" class="table table-striped table-sm" >
		<thead>
			<tr>
				<th scope="col">Food name</th>
				<th scope="col">Category</th>
				<th scope="col">Restaurant name</th>
				<th scope="col">Price</th>
				<th scope="col">Reviews</th>
				<th scope="col">Available</th>
				<th scope="col">Number</th>
				<th scope="col">Add</th>
			</tr>
		</thead>
		<tbody>
			<% for(var i=0; i<foodlist.length; i++) { %>
			<tr>
				<form method="POST" action="orderFood" name="Foodlist">
					<td><%= foodlist[i].fname%></td>
					<td><%= foodlist[i].category_meaning%></td>
					<td><%= foodlist[i].rname%></td>
					<td><%= foodlist[i].price%></td>
					<td>
						<a class="nav-link" href="/reviews?fname=<%= foodlist[i].fname%>&rname=<%= foodlist[i].rname%>">Reviews</a>
					</td>
					<td>
						<% if (foodlist[i].isavailable == true) { %>
						Yes
						<% } else { %>
						No
						<% }%>
					</td>
					<% if (foodlist[i].isavailable == true) { %>
					<td>
						
						<input type="range" name="numbertobuy" id="numbertobuy" value="1" min="1"
							max="<%= foodlist[i].dailylimit%>" oninput="buyOutputId.value = numbertobuy.value">
						<output name="buyOutputId" id="buyOutputId" for="numbertobuy">1</output>
						<script>
							document.registrationForm.numbertobuy.oninput = function () {
								document.Foodlist.buyOutputId.value = document.Foodlist.numbertobuy.value;
							}
						</script>
					</td>
					<td>
						<input type="hidden" name="fname" value="<%= foodlist[i].fname%>" />
						<input type="hidden" name="rname" value="<%= foodlist[i].rname%>" />
						<input type="hidden" name="action" value="Add" />
						<button type="submit" class="btn btn-outline-primary">Add</button>
						
					</td>
					 



				</form>
				<% } else { %>
					<td></td>
					<td></td>	
					<% } %>

			</tr>
			<% } %>
		</tbody>
	</table>
</body>

</html>