<!DOCTYPE html>
<html>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
		<a class="navbar-brand" href="#">Food delivery shop</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto"></ul>
			</ul>
			<form class="form-inline mt-2 mt-md-0" form method="post" action="staff">
				<input type="hidden" name="diff" value="res">
			  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
			</form>
		  </div>
	  </nav>
<head>
	<!-- Page Title -->
	<title>CS2102 Starter Guide</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />

	<!-- CSS for Styling -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
		crossorigin="anonymous">

	<!-- JavaScript for Interactivity -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>
</head>

<body>
	<h1>Welcome, <%= sess.staffname%></h1>
	<p><%= sess.rname%></p><br />

	<p>you can add new food and change new promotion!</p>
	<table class="table">
		<thead>
			<tr>
				<!-- <th scope="col">Restaurant</th> -->
				<th scope="col">Promotions id</th>
				<th scope="col">Discount</th>
				<th scope="col">From</th>
				<th scope="col">To</th>
				<th scope="col">minimum Cost</th>
				<!-- <th scope="col">promotions percent</th> -->
			</tr>
		</thead>
		<tbody>
			<% for(var i=0; i<1; i++) { %>
			<tr>
				<!-- <td><%= restaurantdata[i].rname%></td> -->
				<td><%= restaurantdata[i].promoid%></td>
				<td><%= restaurantdata[i].discount + '%'%></td>
				<td><%= restaurantdata[i].startdate%></td>
				<td><%= restaurantdata[i].enddate%></td>
				<td><%= restaurantdata[i].minimalcost%></td>
			</tr>
			<% } %>
		</tbody>
	</table>
		<table class="table">
			<thead>
				<tr>
					<!-- <th scope="col">Restaurant</th> -->
					<th scope="col">Food</th>
					<th scope="col">Price($)</th>
					<th scope="col">Daily limit</th>
					<th scope="col">Availability</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i<restaurantdata.length; i++) { %>
				<tr>
					<td><%= restaurantdata[i].fname%></td>
					<td><%= restaurantdata[i].price%></td>
					<td><%= restaurantdata[i].dailylimit%></td>
					<td>
						<% if (restaurantdata[i].isavailable == true) { %>
						Yes
						<% } else { %>
						No
						<% }%>
					</td>
				</tr>
				<% } %>
			</tbody>
		</table>
	<!-- <p><a href="/riderPastDeliveries">Click here to view your past deliveries</a></p> -->
	<p><a href="/addFood">Click here to add a new food</a></p>
	<p><a href="/addPromotion">Click here to add a new promotion</a></p>
	<p><a href="/monthlySummary">Click here to view restaurant's monthly summary information</a></p>
	<p><a href="/printPromotionSummary">Click here to view restaurant's promotion summary information</a></p>
	<p><a href="/staffEditPassword">Click here to change your password</a></p>
</body>

</html>