<!DOCTYPE html>
<html>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
		<a class="navbar-brand" href="#">CS2102 Food delivery service</a>
	  </nav>
<head>
    <!-- Page Title -->
    <title>Rider statistics</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <!-- CSS for Styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

</head>

<body>
<h1>Rider Statistics from <%= startdate %> to <%= enddate %> (exclusive)</h1>
<p><a href="/riderInfo">Click here to move back</a></p>
<table class="table" style="text-align:center;">
    <thead>
    <tr>
        <th scope="col">Rider id</th>
        <th scope="col">Name</th>
        <th scope="col" style="width:120px">Status</th>
        <th scope="col">Number of deliveries</th>
        <th scope="col">Number of customers served</th>
        <th scope="col">Average delivery time</th>
        <th scope="col">Number of raitngs received</th>
        <th scope="col" style="width:150px">Average rating</th>
        <th scope="col">Total weekly working hours</th>
        <th scope="col">Base monthly salary</th>
        <th scope="col">Salary earned from delivery</th>
    </tr>
    </thead>
    <tbody>
    <tr>
            <td><%= riderdata[0].riderid%></td>
            <td><%= riderdata[0].ridername%></td>
            <td><%= riderdata[0].status%></td>
            <td><%= riderdata3[0].num%></td>
            <td><%= riderdata3[0].customer%></td>
            <td><%= riderdata3[0].avgtime%></td>
            <td><%= riderdata3[0].ratings%></td>
            <td><%= riderdata3[0].rating + ' / 10'%></td>
            <td><%= riderdata[0].totalhours%></td>
            <td><%= riderdata[0].salary%></td>
            <td><%= riderdata3[0].num * 5%></td>
    </tr>
    </tbody>
</table>

<table class="table" style="text-align:center;">
    <thead>
    <tr>
        <th scope="col">Order id</th>
        <th scope="col">Customer id</th>
        <th scope="col">Order time</th>
        <th scope="col" style="width:250px">Time spent on delivery <br> (in hours:minutes:seconds)</th>
        <th scope="col" style="width:250px">Total time spent<br> (in hours:minutes:seconds)</th>
        <th scope="col">Delivery location</th>
        <th scope="col">Delivery fee</th>
        <th scope="col">Rating on delivery</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i = 0; i < riderdata2.length; i++) { %>
        <tr>
            <td><%= riderdata2[i].flid%></td>
            <td><%= riderdata2[i].cid%></td>
            <td><%= riderdata2[i].order%></td>
            <td><%= riderdata2[i].deliverytime%></td>
            <td><%= riderdata2[i].ordertime%></td>
            <td><%= riderdata2[i].delivery_location%></td>
            <td><%= riderdata2[i].deliveryfee%></td>
            <td><%= riderdata2[i].ratingtext%></td>
        </tr>
    <% } %>
    </tbody>
</table>


</body>

</html>
